{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/account_details.css' %}">
    <title>Account Details</title>
</head>
<body>
    <!--Nav Bar-->
    <ul class="nav-bar">
        <a href=""><img class="nav-bar-img" src="{% static 'accounts/images/logo.png' %}" alt="SDSU Logo"></a>
    </ul>

    <!--Account Details Form-->
    <div class="container">
        <div class="login-section">
            <h2 class="login-header">A little bit about yourself?</h2>
            <form method="POST" action="{% url 'account_details' %}">
                {% csrf_token %}
                
                <label for="{{ form.name.id_for_label }}">Name (First & Last)</label>
                {{ form.name }}
                
                <label for="{{ form.major.id_for_label }}">Major</label>
                {{ form.major }}
                
                <label for="{{ form.gender.id_for_label }}">Gender</label>
                {{ form.gender }}
                
                <label for="{{ form.race.id_for_label }}">Race/Ethnicity</label>
                {{ form.race }}
                
                <label for="{{ form.sports.id_for_label }}">Interested in joining a sports club?</label>
                {{ form.sports }}

                <button type="submit">Submit</button>

                {% if form.errors %}
                    <div class="error-message">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>