{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/home.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <title>Document</title>
</head>
<body>
    <!--Nav Bar-->
    <div class="nav-bar">
        <a href=""><img class="nav-bar-img" src="{% static 'accounts/images/logo.png' %}" alt="CAPY Technologies Logo"></a>
        <a class="login" href="{% url 'login' %}"><i class="fas fa-unlock"></i>Login</a>
    </div>
    
    <!--Splash Screen-->
    <div class="video-bg-wrapper">
        <div class="video-bg" 
             data-property="{videoURL:'6oLSPnN4e58',containment:'.video-bg-wrapper',autoPlay:true, mute:true, loop:true, showControls:false, startAt:0, opacity:1, vol:0}">
        </div>

        <div class="video-overlay"></div>
      
        <div class="overlay-text">
          <h1>Aztec Connect</h1>
        </div>
    </div>
      
    <!-- jQuery + YTPlayer JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
    <script>
    $(function () {
        $(".video-bg").YTPlayer();
    });
    </script>
    
    <a href="{% url 'login' %}">Login</a>

    <!--Footer-->
    <footer class="footer">
        <div class="footer__contact-block">
           <div class="logo-block">
              <div class="logo"><a href="https://www.sdsu.edu/"><img src="https://ou-resources.sdsu.edu/images/_sdsu/logo-2022/logo.png" alt="San Diego State University"></a></div>
              <ul class="social">
                <li class="youtube">
                  <a href="https://www.youtube.com/user/SDSUVideo" title="YouTube"></a>
                </li>
                <li class="facebook">
                  <a href="https://www.facebook.com/SanDiegoState" title="Facebook"></a>
                </li>
                <li class="instagram">
                  <a href="https://instagram.com/sandiegostateuniversity" title="Instagram"></a>
                </li>
                <li class="tiktok">
                  <a href="https://www.tiktok.com/@sandiegostateuniversity" title="TikTok"></a>
                </li>
              </ul>
           </div>
           <div class="nav-block">
              <div class="nav-block__holder nav-block--contact">
                 <address><a class="telephone-number" href="tel:6195945200">619-594-5200</a><br>
                                                5500 Campanile Drive<br>
                                                San Diego, CA 92182</address>
                 <ul>
                    <li><a class="maps-parking" href="https://map.concept3d.com/?id=801">Maps | </a><a class="maps-parking" href="https://parking.sdsu.edu/permits">Parking</a></li>
                 </ul>
              </div>
              <div class="nav-block__holder nav-block--navigation">
                 <ul>
                    <li><a href="https://directory.sdsu.edu/">Campus Directory</a></li>
                    <li><a href="https://hr.sdsu.edu/careers-at-sdsu">Employment</a></li>
                    <li><a href="https://brand.sdsu.edu/stratcomm/media-relations">Media Relations</a></li>
                    <li><a href="https://canvas.sdsu.edu/">Canvas</a></li>
                 </ul>
              </div>
              <div class="nav-block__holder nav-block--navigation">
                 <ul>
                    <li><a href="https://www.sdsu.edu/contact">General Contact</a></li>
                    <li><a href="https://status.sdsu.edu/">Network Status</a></li>
                    <li><a href="https://www.sdsu.edu/strategic-plan">Strategic Plan</a></li>
                    <li><a href="https://www.sdsu.edu/newscenter-newsletter-signup">Newsletter</a></li>
                 </ul>
              </div>
           </div>
        </div>
        <div class="footer__info-block">
           <ul class="doc">
              <li><a href="https://accessibility.sdsu.edu/">Accessibility</a></li>
              <li><a href="https://www.sdsu.edu/document-readers">Document Readers</a></li>
              <li><a href="https://www.sdsu.edu/digital-privacy">Digital Privacy Statement</a></li>
              <li><a href="https://police.sdsu.edu/public-information/clery-act-compliance/annual-reports">Campus Safety Reports</a></li>
              <li><a href="https://www.sdsu.edu/institutional-disclosures">Institutional Disclosures</a></li>
              <li><a href="https://sacd.sdsu.edu/student-resources/parenting-students">Student Parent Resource</a></li>
              <li><a href="https://www.sdsu.edu/affirming-equal-opportunity">Affirming Equal Opportunity</a></li>
              <li><a href="https://www.sdsu.edu/feedback">Feedback</a></li>
           </ul>
           <div class="copyryght-block"><span class="copyright">© 2025 San Diego State University</span><span>|</span><span>All Rights Reserved</span><span>|</span><span id="directedit"><a id="de" href="https://a.cms.omniupdate.com/11/?skin=sdsu&amp;account=prod&amp;site=www&amp;action=de&amp;path=/index.pcf" target="_top">Last Updated 4/17/25</a></span></div>
        </footer> 
        </body>
</html>