{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/reset.css' %}">
    <title>Document</title>
</head>
<body>
    <!--Nav Bar-->
    <ul class="nav-bar">
        <a href=""><img class="nav-bar-img" src="{% static 'accounts/images/logo.png' %}" alt="CAPY Technologies Logo"></a>
    </ul>

    <!--Login Form-->
    <div class="container">
        <div class="reset-section">
            <h2 class="reset-header">Reset Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.email.label_tag }} {{ form.email }}
                <br>
                {{ form.verification_code.label_tag }} {{ form.verification_code }}
                <button type="submit">Verify Email</button>
                <a class="login-link" href="{% url 'login' %}">Back to Login</a>
            </form>
        </div>
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector("form");
            const submitButton = form.querySelector('button[type="submit"]');
            const verificationInput = document.getElementById("id_verification_code");
            const verificationLabel = document.querySelector('label[for="id_verification_code"]');
    
            verificationInput.removeAttribute("required");

            form.addEventListener("submit", function (e) {
                if (getComputedStyle(verificationInput).display === "none") {
                    e.preventDefault();
                    verificationInput.style.display = "block";
                    verificationLabel.style.display = "block";
                    submitButton.textContent = "Verify Code";
                }
            });
        });
    </script>
</body>
</html>