{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'clubs/dashboard.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    <!--Nav Bar-->
    <ul class="nav-bar">
        <a href=""><img class="nav-bar-img" src="{% static 'clubs/images/logo.png' %}" alt="CAPY Technologies Logo"></a>
        <a class="logout" href="{% url 'logout' %}"><i class="fas fa-lock"></i>Logout</a>
    </ul>
    <div class="explore-container">
        <a href="{% url 'explore' %}" class="explore-button">Explore SDSU</a>
    </div>    
</body>
</html>